{% extends '_base.html' %}

{% block content %}
<div class="container editor-container">
    <div class="row h-100">

        <div class="col-md-4 h-100">
            <div class="note-list-container">
                <div class="d-flex flex-column my-0 mx-auto">
                    <div class="note-controls d-flex">
                        <button type="button" class="btn icon-btn base-item">
                            <svg height="16px" width="16px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"/>
                            </svg>
                        </button>
                    </div>
    
                    <ul class="note-list">
                        {% for note in notes %}
                            <li class="base-item note-item" data-note-id="{{ note.id }}">
                                <div class="note-preview-main d-flex">
                                    <div class="note-preview-content">
                                        <h4 class="note-preview-title">{{ note.title }}</h4>
                                        <div class="note-preview-text"><span>{{ note.content }}</span></div>
                                    </div>
                                    <div class="note-preview-controls">
                                        <button type="button" class="btn icon-btn note-delete-btn">
                                            <span>
                                                <svg height="16px" width="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z"/>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="note-preview-footer d-flex">
                                    <span class="note-preview-date">{{ note.created_at }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-md-8 h-100">
            <div class="note-editor-container">
                <div class="note-editor-area base-item">
                    <div class="d-flex flex-column h-100">
                        <div class="note-editor-header d-flex flex-column">
                            <input id="noteEditorTitle" type="text" class="form-control note-input note-editor-title" placeholder="Введите название">
                            <div class="note-editor-date">
                                <span id="noteEditorCreatedAt"></span>
                            </div>
                        </div>
    
                        <div class="note-editor">
                            <textarea name="" id="noteEditorContent" class="form-control note-input note-editor-content" placeholder="Напишите заметку..."></textarea>
                        </div>
    
                        <div class="note-editor-footer">
                            <div class="d-flex flex-row align-items-center">
                                <div id="noteEditorTags" class="note-editor-tags">
                                </div>
                                <button type="button" class="btn icon-btn base-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Добавить тег">
                                    <svg height="16px" width="16px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"/>
                                    </svg>
                                </button>
                                <div class="note-editor-update ms-auto"><span>Сохранено</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}