{% extends '_base.html' %}

{% block content %}
<div class="container editor-container">
    <div class="row h-100">

        <div class="col-md-4 h-100">
            <div class="note-list-container">
                <div class="d-flex flex-column my-0 mx-auto">
                    <div class="note-controls d-flex">
                        <button id="noteCreateBtn" type="button" class="btn icon-btn note-create-btn base-item">
                            <svg height="16px" width="16px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"/>
                            </svg>
                        </button>
                    </div>
    
                    <ul class="note-list">
                        {% for note in notes %}
                            <li class="base-item note-item" data-note-id="{{ note.pk }}">
                                <div class="note-preview-main d-flex">
                                    <div class="note-preview-body">
                                        <h4 class="note-preview-title">{{ note.title|default:"Новая заметка" }}</h4>
                                        <div class="note-preview-content"><span>{{ note.content }}</span></div>
                                    </div>
                                    <div class="note-preview-controls">
                                        <button type="button" class="btn icon-btn note-delete-btn" data-bs-toggle="modal" data-bs-target="#noteDeleteModal">
                                            <span>
                                                <svg height="16px" width="16px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z"/>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="note-preview-footer d-flex">
                                    <span class="note-preview-date">{{ note.created_at }}</span>
                                </div> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="noteEditorCol" class="col-md-8 h-100">
        </div>
    </div>
</div>

<div class="modal fade tag-delete-modal" id="noteDeleteModal" tabindex="-1" aria-labelledby="noteDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="noteDeleteModalLabel">Удалить заметку?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Заметка и её содержимое будет удалено без возможности восстановления.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
            <button id="noteDeleteBtnConfirm" type="button" class="btn btn-danger">Удалить</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}